/.vs
/InimcoDemoBackEnd/appsettings.Development.json
/InimcoDemoBackEnd/appsettings.json
/InimcoDemoBackEndTests/bin/Debug/net8.0
/InimcoDemoBackEndTests/obj
/TestResults/14c74ee1-b438-491d-9e59-81ac5f9a1ef5
